html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}


body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    background-image: url(https://i.pximg.net/img-original/img/2013/08/29/18/25/18/38151436_p0.jpg)
}


.Name{
    text-align:left;
    font-size:25px;

}

nav a{
    text-decoration: none;
        color:black;
        margin-right:50px;
}
.ProjName{
    text-align:Center;
    font-size:150px;
    margin:5% 0 0;
    color:paleturquoise;
}

.MyProj{
    text-align:Center;
    font-size:35px;
    margin:2% 0 0;
    color:paleturquoise;
    
}

.ProBox{
    width:10%;
    height:42px;
    padding:20px;
    margin:0 43.5% 0%;
}

.Container{
    height:100%
    
}

.Links{
  display:flex;
  justify-content: flex-end;
  align-items:center;
  margin:0 2% 0;
 font-size:25px;

}

.MyLove{
    display:flex;
    width:95%;
    justify-content: space-evenly;
    font-size:40px;
    margin:145px 0 0 0;
    color: teal;
}

.Ratchet{
    width: 400px;
    height: 300px;
    border:5px solid teal;
    margin:2% 0 0 0;
    
}

.Moon{
    width: 400px;
    height: 300px;
    border:5px solid teal;
    margin:2% 0 0 0;
}

.Pokemon{
    width: 400px;
    height: 300px;
    border:5px solid teal;
    margin:2% 0 0 0;
}

.Interstellar{
    width: 400px;
    height: 300px;
    border:5px solid teal;
    margin:2% 0 0 0;
}

.Garner{
    width:45%;
    height: 600px;
    border:5px solid teal;
    margin:2% 0 0 0;
}

.mercy{
    width: 45%;
    height: 600px;
    border:5px solid teal;
    margin:2% 0 0 0;

}
.ImgContainer{
 display:flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-around;

}

.ImgContainer2{
    display:flex
}

.AboutContainer{
    height:700px;
    display:flex;
    justify-content: space-around;

    
}
.title h2{
    font-size:50px;
    width:500px;
    text-align:center;
    margin:15% 0 2% 35%;
    color: blueviolet;
}

.text{
    font-size:25px;
    width:75%;
    height:60px;
    margin:0 13.5% 0;
    text-align:center;
    color: blueviolet;
}

.textbox{
    width:1000px;
    height:150px;
    margin:0 21% 0;

}

.visa{
    width: 400px;
    height: 300px;
    border:5px solid green;
    margin:2% 0 0 0;

}

.trees{
    width: 400px;
    height: 300px;
    border:5px solid green;
    margin:2% 0 0 0;

}

.plants{
    width: 400px;
    height: 300px;
    border:5px solid green;
    margin:2% 0 0 0;

}


.town{
    width: 400px;
    height: 300px;
    border:5px solid green;
    margin:2% 0 0 0;
}

.bread{
    width: 400px;
    height: 300px;
    border:5px solid green;
    margin:2% 0 0 0;
}

.cow{
    width: 400px;
    height: 300px;
    border:5px solid green;
    margin:2% 0 0 0;
}

.beach{
    width: 400px;
    height: 300px;
    border:5px solid green;
    margin:2% 0 0 0;
}



.flower{
    width: 400px;
    height: 300px;
    border:5px solid green;
    margin:2% 0 0 0;
}
.PhotoImg{
    margin:50px 0 0 0px;
    display:flex;
    flex-flow: wrap;
    justify-content: space-evenly;

}

.projects h2{
    font-size:50px;
    height:200px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    color:indianred
}

.conLinks h2{
    font-size:50px;

}

.conLinks{
    display:flex;
    justify-content: space-evenly;
    
}

.ContainerLinks{
    width:1000px;
    margin:24% 0 0 24%;
}

@media (max-width: 800px){
    .Links{
    height:100px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    

    }
    nav a{
        font-size:45px;
        padding:0 15px;
        text-decoration: none;
        color:black;
        margin-right: 0;
    }

    .Name{
        font-size:50px;
        text-align:center;
    }

    .Garner{
        width:350px;
        height:400px;
    }
    
    .mercy{
        width:350px;
        height:400px;
    }
    .ImgContainer img{
        width:43%;

    }

    .ImgContainer{
        width:90%;
        justify-content: stretch;
        margin-left:80px;
    
    }
        
    .MyLove h2{
        margin-left: 35px;
        
    }
    .MyProj{
        width:200px;
    }
.ProBox{
    width:400px;
}
 
.AboutContainer{
    height:1000px;
    width:100%;
    display:flex;
    justify-content: start
}

.textbox{
    width:800px;
}

body{
    height:500px;
}

.PhotoMe{
    width:360px;
    height:445px;
}

.girlfriend{
    width:230px;
    height:500px;
}
.food{
    width:300px;
    height:440px;
}

.AboutContainer img{
    margin:0 auto;
    height:500px;
}

.title{
    margin-right: 900px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.title h2{
    margin-left: 165px;
    margin-bottom: 20px;
}

.AboutContainer{
    height:500px;
}

.PhotoImg{
    width:800px;
    display:flex;
    flex-flow: wrap;

}

.PhotoImg img{
    width:350px;
}

.projects h2{
    height:100px;
}

.conLinks{
    width:800px;
    display:flex;
    flex-flow:column;
    margin-left:100px;

}

.conLinks h2{
    margin:20px 0 20px 0;
}

.conLinks a{
    text-decoration: none;
}